$purple: #7901BB;
$pink: #D80076;
$green: #9EF100;
$yellow: #FFFF00;
$blue: #00DFCF;
$orange: #FF6F00;
$white: #FFFFFF;
$black: #000000;

@mixin color($color) {
    background: $color;
}

.color {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
    width: 100px;
    text-align: center;
}

.purple {
    @include color($purple);
}

.pink {
    @include color($pink);
}

.green {
    @include color($green);
}

.yellow {
    @include color($yellow);
}

.blue {
    @include color($blue);
}

.orange {
    @include color($orange);
}