@import '../_variables.scss';

@mixin color($color) {
  background: $color;
}

@each $color, $hex in $colors {
  .#{$color} {
    @include color($hex);
  }
}

.color {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  height: 100px;
  width: 100px;
  text-align: center;

  & p {
    opacity: 0;
    transition: opacity 0.5s;
  }

  &:hover {
    & p {
      opacity: 1;
    }
  }
}
