@import '_variables.scss';
@import 'color/color.scss';

body {
  margin: 0;
  padding: 20px;
  font-family: sans-serif;
}

#root {
  width: 100%;
}

main, nav {
  display: inline-flex;
  padding: 20px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
